<h1>Welcome to my Profile!</h1>

<div class="profile">
  <h1>Shan Shan Li</h1>

  <img src="my-nice-photo.jpg">

  <h2>I currently work within the media team at MRM//McCann SLC, a global advertising agency network, McCann is a subsidiary of the Interpublic Group of Companies, one of the four large holding companies in the advertising industry. I currently work across multiple global B2B accounts assisting in the initial launch, operations, tracking, analysis, coordination, & campaign management of the nationwide campaigns ran on these accounts. My experience has been primarily in media plan execution and implementation of integrated programs across digital, print, and OOH on Verizon Business/Verisign Inc./ Yammer/ NetSuite/ Regence/ Verizon/ Intel/ Microsoft/ MasterCard/ Vertafore/BAE Systems/ AOL/and TE Connectivity. Media is not only creative but analytical, the industry is exciting & extremely fast paced on a daily basis allowing opportunity to engage with some of the nation's largest & most well-known publishers & accounts. <br /><br />

  Marketing brings potential success to the corporate world because of its ability to create change. The second we stop trying is the second we stop marketing. The second we stop changing, is the second we will fail. I am extremely passionate about my profession & am interested in combining marketing+innovation to reach client's highest potentials. <br /><br />

  My specialties include: Marketing, Brand Management, Traditional Media, Digital Media, Online Display, Digital Analytics, Multimedia, Online Marketing, Media Management, Digital Advertising, Media Planning, Media Buying, and Digital Media Reporting
  </h2>

  <p>I have grown up as a visual artist and recently began to pursue my art again after almost ten years. Upon graduation with my MBA, in addition to my agency experience, I would like to build a site to make my work available for the first time due to increase in demand just recently when I started painting again. I hope to create a side business for my passion as a project for fun and perhaps let it grow into something as I add to the site. I figure, programming would likely be necessary and something I will vitally need to understand and know to execute a dream. It has become a core fundamental in the ecommerce world which will likely take over a heavy percentage of physical consumer stores in the next decade. Digital is where consumers are and it will continue to be where they end up in the future. Programming is at the core and without it, nothing can exist and there would be no ability to share. I hope to learn a bit about programming to help grow my dreams, support my hobbies, and perhaps create a side business focused on something I love.</p>

  <a href="/read-more">Read More</a>

  <h1> Send me a text message...</h1>
  <form action="/" method="post">
    <input type="submit" value="Enter your number and Click to Send SMS" />
    <input id="sms" name="sms" type="text" value="(without dashes)" />
  </form> 
</div>

